<div class="page-header">
  <h3>Identity <%= @user.uid %></h3>
</div>

<div id="exTab2" class="container2">
  <ul class="nav nav-tabs">
    <li <%if @active_tab == 1 then %> class="active" <% end %>>
      <a  href="#1" data-toggle="tab">Authentications</a>
    </li>
    <li <%if @active_tab == 2 then %> class="active" <% end %>>
      <a href="#2" data-toggle="tab">Attributes</a>
    </li>
    <li <%if @active_tab == 3 then %> class="active" <% end %>>
      <a href="#3" data-toggle="tab">Access Token</a>
    </li>
    <li <%if @active_tab == 4 then %> class="active" <% end %>>
      <a href="#4" data-toggle="tab">Refresh Token</a>
    </li>
  </ul>

  <div class="tab-content ">
    <div class="tab-pane <%if @active_tab == 1 then %>active<% end %>" id="1">

      <div style="float: left">
        <%= form_for(@user, url: refresh_authentication_user_path(@user), html: { method: :put }) do |f| %>
          <button type="submit" class="btn btn-default" aria-label="Left Align">
            <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
          </button>
        <% end %>
      </div>
      <div style="float: left; margin-left:5px">
        <%= form_for(@user, url: move_authentication_to_user_path(@user), html: { method: :post }) do |f| %>
          <button type="submit" class="btn btn-default" aria-label="Left Align">
            Sign in and add the authentication <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
          </button>
        <% end %>
      </div>

      <div style="clear: both">
      </div>


      <p><pre><%= debug @user.authentications %></pre></p>

    </div>

    <div class="tab-pane <%if @active_tab == 2 then %>active<% end %>" id="2">

      <div class="row">
        <div class="col-lg-6">
          <% @attributes.each do |k, v| %>
            <%= form_for(@user, url: update_attribute_user_path(@user), html: { method: :put }) do |f| %>
              <div class="input-group j-input-group">
                <input type="hidden" name="key" value="<%= k %>" />
                <span class="input-group-addon" id="<%= k %>"><%= k %></span>
                <input class="form-control" name="val" id="<%= k %>" value="<%= v %>"  aria-describedby="<%= k %>" />
                <span class="input-group-btn">
                  <button class="btn btn-default" type="submit">
                    <span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span>
                  </button>
                </span>
              </div>
            <% end %>

          <% end %>
        </div>
      </div>

      <!--form class="form-inline" action="/action_page.php"-->
      <%= form_for(@user, url: update_attribute_user_path(@user), html: { method: :put, class: "form-inline" }) do |f| %>
        <div class="form-group">
          <label for="email">Name</label>
          <input type="input" name="key" class="form-control" id="email">
        </div>
        <div class="form-group">
          <label for="pwd">Value</label>
          <input type="input" name="val" class="form-control" id="pwd">
        </div>
        <button type="submit" class="btn btn-default">
          Submit new attribute
          <span class="glyphicon glyphicon-share-alt"></span>
        </button>
      <% end %>
    </div>

    <div class="tab-pane <%if @active_tab == 3 then %>active<% end %>" id="3">

      <p>Trust level: <code><%= @trust_level %></code></p>

      <p>Expires at <%= @access_token_expires_at %></p>

      <p><pre><%= @user.access_token %></pre></p>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">JWT header</h3>
        </div>
        <div class="panel-body">
          <%= debug @header_access %>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">JWT payload</h3>
        </div>
        <div class="panel-body">
          <%= debug @payload_access %>
        </div>
      </div>


    </div>
    <div class="tab-pane <%if @active_tab == 4 then %>active<% end %>" id="4">

      <p>Trust level: <code><%= @trust_level %></code></p>

      <p>Expires at <%= @refresh_token_expires_at %></p>

      <p><pre><%= @user.refresh_token %></pre></p>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">JWT header</h3>
        </div>
        <div class="panel-body">
          <%= debug @header_refresh %>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">JWT payload</h3>
        </div>
        <div class="panel-body">
          <%= debug @payload_refresh %>
        </div>
      </div>

    </div>
  </div>
</div>

