<h3>User</h3>
<p>UID: <code><%= @user.uid %></code></p>
<p>Trust level: <code><%= @trust_level %></code></p>

<h3>Authentications</h3>

<p><pre><%= debug @user.authentications %></pre></p>

<h3>Access JWT</h3>

<p><pre><%= @user.access_token %></pre></p>

<p>JWT header:
<%= debug @header_access %>
</p>

<p>JWT payload:
<%= debug @payload_access %>
</p>

<p>Expires at <%= @access_token_expires_at %></p>

<h3>Refresh JWT</h3>

<p><pre><%= @user.refresh_token %></pre></p>

<p>JWT header:
<%= debug @header_refresh %>
</p>

<p>JWT payload:
<%= debug @payload_refresh %>
</p>

<p>Expires at <%= @refresh_token_expires_at %></p>
